.grayBody {
  &:before {
    content: " ";
    display: block;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('/img/Qwerty.png');
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain 10%;
    z-index: -1;
  }

  &:after {
    content: " ";
    display: block;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    background-image: url('/img/Warty.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
  }

  &, & :global(.main) {
    height: 100%;
  }

  & :global(.layout) {
    height: calc(100% - var(--header-height));
  }
}
